@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');

:root {


    // Colors
    --whitesmoke: #F6F3F3;
    --white: #FFFFFF;
    --eerieblack: #242424;
    --fireenginered: #C52525;
    --black: #000000;
    // #6693F5

    // Fonts
    --Roboto: 'Roboto Flex', sans-serif;
    --Righteous: 'Righteous', cursive;

}

// Fonts

// font-family: 'Righteous', cursive;
// font-family: 'Roboto Flex', sans-serif;

  